[submodule "shared/dust-wave-platform"]
	path = shared/dust-wave-platform
	url = https://github.com/aindaco1/dust-wave-platform.git
	branch = release/0.7.0
[submodule "alignment-runner"]
	path = alignment-runner
	url = https://github.com/aindaco1/dust-wave-alignment-runner.git
	branch = release/0.2.2
[submodule "shared/record"]
	path = shared/record
	url = https://github.com/aindaco1/record.git
	branch = main
